.quantity{

display:flex;

align-items:center;

gap:15px;

margin:25px 0;
}

.quantity button{

width:40px;

height:40px;

border:none;

cursor:pointer;

font-size:20px;

background:#131921;

color:white;
}

.quantity span{

font-size:22px;

font-weight:bold;
}