.search-bar-container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto 30px;

  display: flex;
  gap: 10px;
}

.search-bar-container input {
  flex: 1;

  padding: 13px 16px;

  border: 1px solid #ddd;
  border-radius: 8px;

  font-size: 15px;

  outline: none;
}

.search-bar-container input:focus {
  border-color: #111827;
}

.search-bar-container button {
  padding: 13px 25px;

  border: none;
  border-radius: 8px;

  background: #111827;
  color: white;

  cursor: pointer;
  font-size: 15px;
}

.search-bar-container button:hover {
  background: #000;
}


@media (max-width: 600px) {

  .search-bar-container {
    flex-direction: column;
  }

  .search-bar-container button {
    width: 100%;
  }

}