.featured{

    width:90%;

    margin:70px auto;
}

.featured h2{

    text-align:center;

    margin-bottom:40px;

    font-size:35px;
}

.product-grid{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:25px;
}